/node_modules/
/data/
/build/
/.idea/
/.env*
/coverage/lcov-report/base.css
/coverage/lcov-report/block-navigation.js
/coverage/lcov-report/Breakpoints.tsx.html
/coverage/lcov-report/favicon.png
/coverage/lcov-report/index.html
/coverage/lcov-report/prettify.css
/coverage/lcov-report/prettify.js
/coverage/lcov-report/setupTests.ts.html
/coverage/lcov-report/sort-arrow-sprite.png
/coverage/lcov-report/sorter.js
/coverage/lcov-report/useComponentDimensionsWithRef.ts.html
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/lcov.info
/dist/Breakpoints.d.ts
/dist/Breakpoints.js
/dist/index.d.ts
/dist/index.js
/dist/useComponentDimensionsWithRef.d.ts
/dist/useComponentDimensionsWithRef.js
